.navbar-brand {
    width:100px;
    font-size: 24px;
  }
  .navbar-brand img {
    height: 50px;
    float: left;
    margin-right: 7px;
  }

  body{
    background: url(../picture/grey\ Screenshot\ 2022-05-12\ 105929.png);
  }

  .container-info{
    display: flex;
    justify-content: right;
    line-height: 3;
    height: 100%;
    width: 100%;
  }

  h1{
    display: flex;
    justify-content: center;
  }

  .text{
    display: flex;
    justify-content: center;
  }
  
  .btn {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    padding: 15px 35px;
    color: #ffffff;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: flex;
    white-space: nowrap;
    border: none;
    cursor: pointer;
  }
  .btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }